<% if @item.destroyed? %>
  $('#items-' +<%= @item.id %>).hide();
  $('.js-items-count').html("<%= @item.user.items.count %>");
<% else %>
  $('#items-' +<%= @item.id %>).prepend("<div class='alert alert-danger'><%= flash[:error] %></div>");
<% end %>